.App-header {
  background-color: rgb(10, 87, 230);
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.btn{
  display: flex-center;
  justify-content: center;
  align-items: center;
}
